    <footer class="footer">
        <div class="container">
            <div class="footer_inner">
                <a href="/" class="footer_logo">Game Gourmand</a>
                <nav class="footer_nav">
                    <ul class="footer_nav-list">
                        <li><a href="/news" class="footer_nav-link">Новости</a></li>
                        <li><a href="/reviews" class="footer_nav-link">Игровые рецензии</a></li>
                        <li><a href="/rating" class="footer_nav-link">Рейтинг</a></li>
                    </ul>
                </nav>
                <p class="footer_copy">© 2026 Game Gourmand</p>
            </div>
        </div>
    </footer>

</div>

<script src="/JS/main.js"></script>
<script src="/JS/auth.js"></script>
