<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/images/free-icon-font-flame-3916992.png" type="image/x-icon">
    <link rel="stylesheet" href="/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap">
    <link rel="stylesheet" href="/style.css">
    <title>{{title}}</title>
</head>
<body>

<div class="wrapper">

    <header class="header">
        <div class="container">
            <div class="header_pill">

                <a href="/" class="header_logo">
                    <img src="/images/logo.png" alt="Game Gourmand">
                </a>

                <nav class="header_nav">
                    <ul class="header_nav-list">
                        <li class="header_nav-item"><a href="/news" class="header_nav-link">Новости</a></li>
                        <li class="header_nav-item"><a href="/reviews" class="header_nav-link">Игровые рецензии</a></li>
                        <li class="header_nav-item"><a href="/rating" class="header_nav-link">Рейтинг</a></li>
                    </ul>
                </nav>

                <div class="header_auth">
                    <a href="#" class="btn btn--ghost">Войти</a>
                    <a href="#" class="btn btn--primary">Регистрация</a>
                </div>

            </div>
        </div>
    </header>
